<div>
    <h2>{{joke}}</h2>
</div>
<div id="joke_id" style="display: none;" data-value="{{id}}"></div>
<div>
    Community Rating: {{rating.value}}
</div>
<div>
    Rate this joke:<span id="rating">0</span>/5
</div>
<div id="stars">
    <span class="star" data-value="1">★</span>
    <span class="star" data-value="2">★</span>
    <span class="star" data-value="3">★</span>
    <span class="star" data-value="4">★</span>
    <span class="star" data-value="5">★</span>
</div>

<a href="/joke" class="btn">Another one..</a>

<script src="/js/ratings.js"></script>