<h2>Submit joke</h2>

<form class="new-joke-form">
  <div class="form-group">
    <label for="joke-content">Joke:</label>
    <textarea class="form-input" id="joke-edit"></textarea>
  </div>
  <div class="form-group">
    <button class="btn" type="submit">Add</button>
  </div>
</form>

<script src="/js/newjoke.js"></script>