body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #0051ba; 
    color: #ffffff; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
header {
    background-color: #e8000d; 
}
footer {
    background-color: #002b5c; 
}

a, #logout {
    color: #ffcd00;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border: 5px solid transparent;
    outline: none;
    color: black;
    background-color: rgb(213, 141, 213);
}



div {
    margin-bottom: 10px; 
}


.star {
    margin-top: 10px;
    color: grey; 
}


.another-one {
    margin-top: 20px; 
}


.colored {
  color: goldenrod;
}

.form-input {
    color: black;
}

#hidden {
    display: none;
}